{% extends "Home_Template.html" %}

{% block list %}
    <form action="/design/new/" method="post" enctype="multipart/form-data" data-ajax="false"> {% csrf_token %}
    <h3 style="margin-left: 30px">Create a new Course</h3>
    <table class="table-show" cellpadding="20" >
        <tr>
            <td>Name:</td>
            <td>{{ form.name }}</td>
        </tr>
        <tr>
            <td>Subtitle:</td>
            <td>{{ form.subtitle }}</td>
        </tr>
         <tr>
            <td>Image:</td>
             <td>{{ form.image }}</td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{ form.price }}</td>
        </tr>
        <tr>
            <td>Hitcount:</td>
            <td>{{ form.hitcount }}</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-primary" type="submit">Save</button>
            </td>
            <td>
                <a class="btn btn-primary" href="/design/">Cancel</a>
            </td>
        </tr>
        <tr>
            <td>{% if errors %}
            Có lỗi xảy ra
            {% endif %}</td>
        </tr>
    </table>
    </form>

{% endblock %}